/* Borders */

.restaurant-dashboard-view vaadin-board-row > * {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    border-right: 1px solid var(--lumo-contrast-10pct);
}

.restaurant-dashboard-view vaadin-board-row.small > * {
    border-right: none;
}

.restaurant-dashboard-view vaadin-board-row.medium > *:nth-child(even),
.restaurant-dashboard-view vaadin-board-row.medium > *:only-child {
    border-right: none;
}

.restaurant-dashboard-view vaadin-board-row.large > *:last-child {
    border-right: none;
}
